<section class="our-partener">
    <div class="our-partener-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <h2>شركاؤنا</h2>
                    <span>صناع الخير معنا</span>
                </div>
                <div class="col-md-10">
                    <div class="owl-carousel partener-owl-carousel owl-theme">
                        <div class="item">
                            <img src="../../assets/images/ehsan-logo-slogan.png" alt="">
                        </div>
                        <div class="item">
                            <img src="../../assets/images/logo-w.png" alt="">
                        </div>
                        <div class="item">
                            <img src="../../assets/images/logo_ar.png" alt="">
                        </div>
                        <div class="item">
                            <img src="../../assets/images/Full_logo_vector.png" alt="">
                        </div>
                        <div class="item">
                            <img src="../../assets/images/ehsan-logo-slogan.png" alt="">
                        </div>
                        <div class="item">
                            <img src="../../assets/images/logo-w.png" alt="">
                        </div>
                        <div class="item">
                            <img src="../../assets/images/logo_ar.png" alt="">
                        </div>
                        <div class="item">
                            <img src="../../assets/images/Full_logo_vector.png" alt="">
                        </div>
                        <div class="item">
                            <img src="../../assets/images/ehsan-logo-slogan.png" alt="">
                        </div>
                        <div class="item">
                            <img src="../../assets/images/logo-w.png" alt="">
                        </div>
                        <div class="item">
                            <img src="../../assets/images/logo_ar.png" alt="">
                        </div>
                        <div class="item">
                            <img src="../../assets/images/Full_logo_vector.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(window).on('load',function(){
        // debugger;
        $('.partener-owl-carousel.owl-carousel').owlCarousel({
        rtl: true,
        loop: true,
        margin: 10,
        nav: false,
        // autoplay: true,
        // autoplayTimeout: 5000,
        autoplayHoverPause: true,
        items: 4,
        slideBy: 4,
        dots: true,
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 3
            },
            1000: {
                items: 4
            }
        }
    })

}); 
    </script>