/*_clearfix.scss*/

%clear {
    content: ' ';
    display: table;
    clear: both;
}

.clearfix {
    *zoom: 1;

    &:before {
        @extend %clear;
    }

    &:after {
        @extend %clear;
    }
}