@import "vars";

section.inner-content {
    background: #fafafb;
    color: $black2;

    &.white {
        background: #fff;
    }

    .content-filteration-controls {
        .filter-row {
            margin: 0 -15px;

            @media only screen and (max-width: 767px) {
                padding-top: 10px;
            }

            .filter-column {
                padding: 15px;
                width: 33.333%;

                @media only screen and (max-width: 767px) {
                    width: 100%;
                    padding: 0px 10px;
                    margin-bottom: 10px;
                }

                .change-select {
                    width: 100%;

                    button, > input[type=text] {
                        height: 45px;
                        border-radius: 12px;
                        font-size: 16px;
                    }

                    .caret {
                        border-width: 6px;
                        right: 15px;
                    }
                }
            }
        }

        &.pillar-content {
            .filter-row {
                display: flex;
                padding: 5px 0;

                .filter-column {
                    padding: 0px;
                    margin: 15px;
                    min-height: 60px;
                }

                aside.filter-column {
                    width: 20%;

                    @media only screen and (max-width: 1024px) {
                        width: 100%;
                        max-width: 220px;
                        margin: auto;
                        float: none;
                    }

                    @media only screen and (max-width: 768px) {
                        max-width: none;

                        .aside-item {
                            max-width: 220px;
                            margin: auto;
                        }
                    }
                }

                section.filter-column {
                    flex: 1;
                }

                @media only screen and (max-width: 1024px) {
                    display: block;
                    margin: 0;

                    .filter-column {
                        width: 100%;
                        margin: 10px 0;
                        float: none;
                    }
                }
            }
        }

        .aside-container {
            .aside-item {
                display: block;
                margin-bottom: 17px;
                position: relative;

                img {
                    height: auto;
                    width: 100%;
                }
            }

            a.aside-item {
                cursor: pointer;

                &:before {
                    content: "\f002";
                    display: inline-block;
                    font: normal normal normal 14px/1 FontAwesome;
                    position: absolute;
                    left: 50%;
                    color: #ffffff;
                    font-size: 20px;
                    top: 50%;
                    transition: all 0.2s ease;
                    transform: scale(0);
                    z-index: 2;
                    font-size: 24px;
                    margin-left: -11px;
                    margin-top: -11px;
                }

                &:after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: rgba(0,0,0,.5);
                    z-index: 1;
                    left: 0;
                    top: 0;
                    transition: all 0.25s ease;
                    opacity: 0;
                    visibility: hidden;
                }

                &:hover {
                    &:before {
                        transform: scale(1);
                        transition: all 0.2s ease 0.2s;
                    }

                    &:after {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }

    &.backend-page {
        .content-filteration-controls {
            .filter-row {
                .filter-column {
                    margin-top: 0;
                }
            }
        }
    }

    & ~ footer {
        margin-top: -20px;
    }

    &.red {
        background: #d10e0e;

        .red-header {
            color: #fff;
        }
    }

    .main-list {
        background: #fff;
        margin: 30px 0;
        padding: 20px;
        box-shadow: 0px 1px 13px rgba(231, 237, 243, 0.27);
        border-radius: 5px;
        border: 1px solid #f2f2f2;
        margin-bottom: 20px;

        & + .main-list {
            margin-top: 0;
        }

        &.no-top {
            margin-top: 0;
        }
    }
}



.popup {
    &.makan-popup {
        max-width: 900px;
        width: 90%;
        z-index: -1;

        @media only screen and (max-width: 480px) {


            .popup-title {
                padding: 5px 25px;
                font-size: 16px;
            }
        }

        .popup-banner {
            height: 250px;
            position: relative;
            margin-bottom: 70px;
            z-index: 1;

            @media only screen and (max-width: 480px) {
                height: 100px;
                margin-bottom: 20px;
            }

            .makan-image {
                position: absolute;
                bottom: -55px;
                left: 25px;
                height: 110px;
                width: 110px;
                transition: all 0.4s ease 0.3s;
                border-radius: 50%;
                overflow: hidden;
                transform: scale(0);

                @media only screen and (max-width: 480px) {
                    bottom: -35px;
                    left: 25px;
                    height: 75px;
                    width: 75px;
                }

                img {
                    visibility: visible;
                    display: block;
                    position: absolute;
                    left: -100%;
                    top: -100%;
                    bottom: -100%;
                    right: -100%;
                    margin: auto;
                }
            }
        }

        .popup-body {
            color: $black;
            padding: 25px 0;
            max-height: calc(100vh - 112px - 70px - 62px - 250px);

            @media only screen and (max-width: 480px) {
                max-height: calc(100vh - 210px);
            }

            .phone {
                margin: 0 25px;
                padding: 15px;
                background: #f5f5f5;
                border: 1px solid #bfbfbf;
                border-radius: 5px;
                font-size: 18px;
                font-weight: bold;
                color: $red;
                overflow: hidden;

                @media only screen and (max-width: 480px) {
                    font-size: 14px;
                }

                span {
                    margin-left: 20px;
                    float: right;
                    color: #3e6c92;
                    font-weight: normal;
                    font-size: 16px;

                    @media only screen and (max-width: 480px) {
                        width: 50%;
                        text-align: right;
                        font-size: 14px;
                    }

                    .fa {
                        color: $red;
                        margin-right: 5px;
                    }
                }
            }

            p.description {
                margin: 0 25px;
                font-size: 15px;
                color: #515151;
                line-height: 24px;
                white-space: pre-line;
            }
        }

        &.open {
            z-index: 9;

            .popup-banner {
                .makan-image {
                    transform: scale(1);
                }
            }
        }
    }
}

table.details-table {
    width: calc(100% - 10px);
    border-spacing: 20px;
    border-collapse: separate;
    margin: auto;

    td {
        width: 50%;
        border: 1px solid #e8e8e8;
        vertical-align: text-bottom;
        padding: 20px;
        line-height: 25px;
        border-radius: 6px;
        font-size: 15px;

        .red-header {
            margin-bottom: 20px;
        }
    }

    .details-as-columns {
        display: table;
        width: 100%;
        text-align: left;
        border-spacing: 0;
        border-collapse: collapse;

        .item {
            display: table-row;

            span {
                display: table-cell;

                &:first-child {
                    font-weight: bold;
                }
            }
        }
    }

    .follow-us a {
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .map-canvas {
        height: 135px;
        background: #f4f3f3;
        text-align: center;
        color: #c2c2c2;
        font-size: 12px;
        margin-top: 20px;
    }

    @media only screen and (max-width: 480px) {
        border-spacing: 0px;
        width: calc(100% - 30px);

        td {
            display: block;
            margin: 10px 0;
            width: 100%;
        }
    }
}

section.inner-content {
    table.default-table {
        width: calc(100% + 20px);
        border-spacing: 2px;
        border-collapse: separate;
        margin: 0 -10px;

        thead {
            background: #4e4c4c;
            color: #fff;
        }

        tr {
            td, th {
                padding: 5px;
                font-size: 12px;
                text-transform: capitalize;
            }

            td {
                background: #f3f3f3;
                transition: all 0.2s ease;
            }

            &:hover {
                td {
                    background: #e4e4e4;
                }
            }

            &.current {
                td {
                    background: #2aba4c;
                    color: #fff;
                }
            }
        }

        &.main-table {
            margin: 0;
            width: 100%;

            thead, td {
                background: none !important;
            }

            tr {
                td, th {
                    padding: 0;

                    div {
                        display: block;
                        padding: 11px 25px;
                        background: #f3f3f3;
                        font-size: 14px;
                        height: 44px;

                        .radio-box {
                            padding: 0;
                            display: inline-block;
                            height: 20px;
                            float: left;
                            width: 20px;
                            overflow: hidden;
                            position: relative;
                            margin-right: 10px;

                            span {
                                position: absolute;
                                left: 0;
                                top: 0;
                                width: 100%;
                                height: 100%;
                                border: 1px solid #d8d8d8;
                                border-radius: 50%;
                                text-align: center;
                                background: #fff;

                                &:before {
                                    content: "";
                                    position: absolute;
                                    left: 4px;
                                    top: 4px;
                                    margin: 0px;
                                    transition: all 0.2s ease;
                                    transform: scale(0);
                                    width: 10px;
                                    height: 10px;
                                    background: #38d783;
                                    border-radius: 50%;
                                }
                            }

                            input {
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                left: 0;
                                top: 0;
                                z-index: 1;
                                opacity: 0;
                                cursor: pointer;

                                &:hover {
                                    & + span {
                                        border-color: #bdbdbd;
                                    }
                                }

                                &:checked {
                                    & + span {
                                        &:before {
                                            transform: scale(1);
                                        }
                                    }
                                }
                            }
                        }

                        span.default {
                            background: #38d783;
                            color: #fff;
                            font-size: 11px;
                            padding: 1px 3px;
                            border-radius: 3px;
                            margin-left: 20px;
                        }
                    }

                    &:first-child {
                        div:not(.radio-box) {
                            border-top-left-radius: 12px;
                            border-bottom-left-radius: 12px;
                        }
                    }

                    &:last-child {
                        div:not(.radio-box) {
                            border-top-right-radius: 12px;
                            border-bottom-right-radius: 12px;
                        }
                    }
                }

                &.default {
                    td {
                        div {
                            background: #d4f2e2 !important;

                            span.default {
                            }
                        }
                    }
                }

                th {
                    div {
                        background: #4e4c4c;
                        margin-bottom: 3px;
                    }
                }

                &:hover {
                    td div {
                        background: #eaeaea;
                    }
                }

                .actions {
                    .flex {
                        display: flex;
                        padding: 0;
                        height: auto;

                        .la {
                            font-size: 20px;
                            margin: auto;
                            cursor: pointer;

                            &:last-child {
                                color: $red;
                            }
                        }
                    }
                }
            }
        }
    }

    .aside-container {
        .main-list {
            margin-top: 0;

            .red-header {
                margin-bottom: 10px;
            }

            .fa {
                color: $red;
            }

            table.details-table {
                width: 100%;
                border-spacing: 0;
                border-collapse: collapse;

                td {
                    border: none;
                    vertical-align: text-bottom;
                    padding: 0px;
                    line-height: 25px;
                    border-radius: 0px;
                    font-size: 13px;

                    .fa {
                        margin-right: 10px;
                    }

                    .follow-us a {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}



@import "menu";

