@import "vars";

section.section-header {
    overflow: visible;
    background: $white;
    margin-bottom: 0px;
    margin-top: 2px;

    .white-header {
        padding-top: 35px;
        padding-bottom: 25px;
    }

    .main-header-logo {
        padding: 0;
        display: block;

        img {
            width: auto;
            height: 45px;
        }
    }

    .main-nav-bar {
        border-radius: 0;
        background: #ededed;
        border: none;
        margin: 0;
        z-index: 2;

        @media only screen and (max-width: 767px) {
            background: $black;
        }

        .main-nav-container {
            position: relative;

            @media only screen and (min-width: 768px) {
                padding: 0;
            }

            @media only screen and (max-width: 767px) {
                padding-top: 60px;
            }

            .navigation-list {
                li {
                    position: static;

                    a {
                        color: #4e4e4e;
                        font-size: 15px;
                        text-transform: uppercase;
                        position: relative;
                        padding: 15px 20px;

                        &:hover {
                            color: $red;
                        }

                        &:before {
                            content: '|';
                            position: absolute;
                            right: 0;
                            top: 14px;
                            color: #cbcbcb;
                        }

                        @media only screen and (max-width: 767px) {
                            padding: 10px !important;
                            color: #fff;

                            &:before {
                                display: none;
                            }
                        }
                    }

                    &.active {
                        a {
                            background: none;
                            color: $red;
                        }
                    }

                    &:last-child {
                        a {
                            &:before {
                                display: none;
                            }
                        }
                    }

                    &:first-child {
                        a {
                            padding-left: 0;
                        }
                    }

                    &:hover {

                        .mega-menu {
                            visibility: visible;
                            opacity: 1;

                            .mega-menu-banner {
                                visibility: visible;
                                left: 50%;
                                transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1) 400ms;
                            }

                            .mega-menu-inner {
                                transform: translateY(0px);
                                transition: all 400ms cubic-bezier(0.215, 0.61, 0.355, 1) 0ms;
                            }
                        }
                    }
                }
            }

            .mega-menu {
                position: absolute;
                width: 100%;
                overflow: hidden;
                visibility: hidden;
                opacity: 0;

                .mega-menu-banner {
                    position: absolute;
                    width: 50%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    z-index: -1;
                    visibility: hidden;
                }

                .mega-menu-inner {
                    display: table;
                    background: #fff;
                    min-width: 55%;
                    transform: translateY(-100%);

                    .mega-menu-lists {
                        display: flex;
                        transition: all 400ms cubic-bezier(0.215, 0.61, 0.355, 1) 0ms;
                        padding: 40px 10px;

                        .mega-menu-column {
                            position: relative;
                            padding-right: 80px;
                            margin-left: 30px;

                            &:before {
                                content: '';
                                width: 1px;
                                height: 100%;
                                background: #dcdcdc;
                                position: absolute;
                                right: 0;
                                top: 0;
                            }

                            &:last-child:before {
                                display: none;
                            }

                            .list {
                                padding: 0;
                                padding-top: 25px;

                                li {
                                    position: relative;

                                    a {
                                        padding: 5px;
                                        font-size: 14px;
                                        color: #7c7c7c;
                                        text-transform: capitalize;
                                        padding-left: 20px;
                                        display: inline-block;
                                        text-decoration: none;
                                        transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1) 0ms;
                                        left: 0;

                                        &:before {
                                            content: '';
                                            border: 5px solid transparent;
                                            border-left-color: #4e4e4e;
                                            position: absolute;
                                            left: 0;
                                            top: 50%;
                                            margin-top: -6px;
                                            display: block;
                                            transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1) 0ms;
                                        }

                                        &:hover {
                                            color: #d10e0e;
                                            left: 5px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                @media only screen and (max-width: 767px) {
                    position: static;
                    visibility: visible;
                    opacity: 1;

                    .mega-menu-banner {
                        display: none;
                    }

                    .mega-menu-inner {
                        transform: translateY(0);
                        display: block;

                        .mega-menu-lists {
                            padding: 20px;
                            display: block;

                            .mega-menu-column {
                                padding: 0;

                                &:before {
                                    display: none;
                                }

                                .list {
                                    padding: 0;
                                    margin-bottom: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .location-change {
        height: 50px;
        position: relative;
        cursor: pointer;
        transition: all 0.25s ease;
        background: $red;
        z-index: 1;
        float: right;
        padding: 0 20px;
        padding-right: 45px;

        &:before {
            content: "\f0d7";
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            position: absolute;
            right: 0;
            top: 0;
            margin: 15px 20px;
            font-size: 20px;
        }

        @media only screen and (max-width: 767px) {
            position: absolute;
            top: 5px;
            right: 15px;
        }

        .location-change-item {
            height: 100%;
            padding-top: 12px;
            font-size: 17px;

            .fa {
                font-size: 22px;
                margin-right: 5px;
            }
        }

        .location-change-drop {
            overflow: hidden;
            position: absolute;
            right: 0;
            top: 100%;
            visibility: hidden;
            width: 300px;

            .location-change-inner {
                background: #d22a2a;
                width: 100%;
                color: #d10e0e;
                transition: all 0.25s ease;
                top: -400px;
                position: relative;
                padding: 30px 20px;
                overflow: hidden;
                padding-bottom: 15px;
                cursor: default;

                .change-select {
                    margin: 0px auto;
                    margin-bottom: 20px;
                    width: 100%;

                    button {
                        height: 40px;
                        border-radius: 8px;
                        border: none;
                        border-bottom: 1px solid #9f0b0b;
                        font-size: 14px;
                    }

                    .dropdown-menu {
                        position: relative;
                        max-width: 100%;

                        .form-control {
                            height: 34px;
                            min-width: 0;
                        }
                    }
                }

                a.get-current-location {
                    clear: both;
                    display: inline-block;
                    text-align: right;
                    float: right;
                    color: #fff;
                    position: relative;
                    overflow: hidden;
                    cursor: pointer;
                    text-decoration: none;

                    &:before, &:after {
                        content: '';
                        position: absolute;
                        width: calc(100% - 15px);
                        height: 1px;
                        background: #fff;
                        right: 0;
                        bottom: 2px;
                        opacity: 0.4;
                        transition: all 0.25s ease;
                    }

                    &:after {
                        opacity: 1;
                        z-index: 1;
                        right: -100%;
                    }

                    &:hover {
                        &:after {
                            right: 0;
                        }

                        .fa {
                            transform: rotate(-90deg);
                            margin: 0 5px;
                        }
                    }

                    .fa {
                        margin: 0 2px;
                        transition: all 0.25s ease;
                        transform: rotate(0deg);
                    }
                }
            }
        }


        &:hover {
            .location-change-drop {
                visibility: visible;
            }

            .location-change-inner {
                top: 0;
            }
        }
    }

    .inner-body-header {
        position: relative;
        /*z-index: 1;*/
        min-height: 440px;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        @media only screen and (max-width: 1366px) {
            min-height: 340px;
        }

        .inner-banner {
            height: 440px;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            /*filter: blur(5px);*/
            transform: scale(1.1) translateX(2px);
            transition: all .3s linear;

            &:before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: -1;
                background: rgba(0,0,0,0.5);
                left: 0;
                top: 0;
            }
        }

        &:hover {
            .inner-banner {
                filter: blur(0px);
                transform: scale(1.1) translateX(0px);
            }
        }

        .location-menu {
            position: relative;
            z-index: 1;
            /*height: 440px;*/
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .location-logo {
                width: 150px;
                height: 150px;
                border-radius: 50%;
                overflow: hidden;
                background-size: 120px;
                background-color: #bc2423;
            }

            .location-list-menu {
                display: flex;
                margin-top: 20px;
                flex-wrap: wrap;
                justify-content: center;

                .category-item {
                    display: block;
                    margin: 10px 5px;
                    cursor: pointer;
                    text-decoration: none;

                    span {
                        height: 42px;
                        border: 1px solid #ccc;
                        background: rgba(204, 204, 204, 0.2);
                        color: #fff;
                        font-size: 16px;
                        text-transform: capitalize;
                        padding: 0 25px;
                    }

                    &:hover {
                        span {
                            background: rgba(204, 204, 204, 0.4);
                        }
                    }

                    &.active {
                        background: #fffffd;

                        span {
                            color: #6f6f6f;
                        }
                    }
                }
            }
        }
    }

    .list-filteration {

        .list-filteration-controls {

            .filter-row {
                width: calc(100% - 56px);

                @media only screen and (max-width: 767px) {
                    width: 100%;
                    margin: 0;
                }

                .filter-column {
                    padding: 17px 10px;

                    @media only screen and (max-width: 767px) {
                        width: 100%;
                        padding: 5px;
                    }
                }
            }

            .change-select {
                width: 100%;
                color: #7c7c7c;


                &.glyphicon {


                    button, > input[type=text] {
                        height: 45px;
                        border-radius: 12px;
                        border: none;
                        border-bottom: 1px solid #adadad;
                        font-size: 16px;
                    }

                    &:before {
                        top: 15px;
                    }
                }

                .caret {
                    border-width: 6px;
                    right: 15px;
                }
            }
        }

        .list-filteration-btn {
            width: 51px;
            float: right;
            height: 51px;
            margin-top: 18px;

            @media only screen and (max-width: 767px) {
                width: 120px;
                float: none;
                margin: 10px auto;
            }

            input.filter-btn {
                width: 100%;
                height: 100%;
                background: $red url(../images/filter-btn.png) center no-repeat;
                border: none;
                padding: 0;
                border-radius: 50%;
                border-bottom: 1px solid #790505;
                transition: all 0.2s ease;

                @media only screen and (max-width: 767px) {
                    border-radius: 20px;
                }

                &:hover {
                    background: $white url(../images/filter-btn-red.png) center no-repeat;
                }
            }
        }
    }

    &.back-section-header {
        .inner-body-header {
            min-height: 0;
            background: #fafafb;
            padding: 30px 0;

            .location-menu {
                align-items: center;

                .location-logo {
                    width: 125px;
                    height: 125px;
                    background-size: 95px;
                    margin-right: 30px;
                }

                .location-list-menu {
                    flex: none;

                    .category-item {

                        span {
                            background: #ccc;
                        }

                        &:hover {
                            span {
                                background: #bbb;
                            }
                        }

                        &.active {
                            span {
                                background: $red;
                                border-color: $red;
                                color: $white;
                            }
                        }
                    }
                }

                @media only screen and (max-width: 768px) {
                    display: block;

                    .location-logo {
                        margin: auto;
                    }
                }
            }
        }
    }
}

.grid-sizer,
.grid-item {
    width: 20%;
}

.customized-header {
    &.center-down-menu {
        .inner-body-header {
            .location-menu {
                flex-direction: row;
                justify-content: center;
                margin: auto;
                /*padding-bottom: 15px;*/
                align-items: flex-end;

                .location-list-menu {
                    flex: 1;
                }

                @media only screen and (max-width: 1366px) {

                    .location-logo {
                        width: 120px;
                        height: 120px;
                        background-size: 100px;
                    }
                }
            }
        }
    }

    &.no-filteration-controls {
        .list-filteration {
            display: none;
        }
    }

    &.no-banner {
        .inner-body-header {
            display: none;
        }
    }
}

.dropdown-menu {
    a {
        &:before {
            display: none;
        }

        .check-mark {
            margin-top: 9px !important;
        }
    }
}

.mac-menu-effect {
    position: relative;
    width: 100%;
    bottom: 0;
    text-align: center;
    height: 110px;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
    opacity: 0;
    transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);

    &.view {
        opacity: 1;
    }

    a.mac-menu-item {
        display: flex;
        text-decoration: none;
        cursor: pointer;
        text-align: center;
        flex-direction: column;
        align-items: center;

        span {
            &:first-child {
                display: block;
                text-transform: uppercase;
                transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s, opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
                opacity: 0;
                position: relative;
                /*top: 10px;*/
                -ms-transform: scale(0.5);
                transform: scale(1);
                width: 100px;
                font-size: 14px;
                line-height: 1;
                padding: 10px 0 9px;
                border-radius: 8px;
                color: #fafafc;
                letter-spacing: 1px;
            }

            &:last-child {
                display: table;
                background: #fff;
                border-radius: 50%;
                padding: 10px;
                margin: 0 0px;

                img {
                    vertical-align: bottom;
                    transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
                    width: 56px;

                    &:last-child {
                        display: none;
                    }
                }
            }
        }


        &:hover {
            span {
                &:first-child {
                    color: #fff;
                    opacity: 1;
                    left: 0;
                    -ms-transform: scale(1);
                    transform: scale(1);
                    /*top: -5px;*/
                    letter-spacing: 0px;
                }

                img {
                    width: 80px;
                    /*transition: all 0ms cubic-bezier(0.215, 0.61, 0.355, 1);*/
                }
            }
        }

        &.active {
            span {
                &:first-child {
                    opacity: 1;
                    left: 0;
                    -ms-transform: scale(1);
                    transform: scale(1);
                    top: -15px;
                    background: #fff;
                    color: $red;
                    letter-spacing: 0px;

                    &:before {
                        content: '';
                        position: absolute;
                        border: 8px solid transparent;
                        border-top-color: #fff;
                        bottom: -7px;
                        border-bottom: none;
                        left: 50%;
                        margin-left: -8px;
                    }
                }

                &:last-child {
                    opacity: 1;
                    left: 0;
                    transform: scale(1);
                    top: 0;
                    background: $red;

                    img {

                        &:last-child {
                            display: block;
                            width: 80px;
                            max-width: none;
                        }

                        &:first-child {
                            display: none;
                        }
                    }
                }
            }
        }

        @media only screen and (max-width: 768px) {

            span {
                opacity: 1;
                left: 0;
                transform: scale(1);
                top: 0;
                font-size: 11px;
            }

            img {
                /*width: auto !important;*/
            }

            flex: 1;

            span {
            }
        }
    }

    @media only screen and (max-width: 1366px) {
        transform: scale(0.9);
    }

    @media only screen and (max-width: 480px) {
        transform: scale(1);
        flex-wrap: nowrap;
        overflow-x: auto;
        justify-content: flex-start;
        height: auto;
        padding: 20px 0;
    }
}
