/*_vars.scss*/

$red: #d10e0e;
$royalblue: #135083;
$yellow: #b79e5b;
$lightYellow: #e9e1cd;
$blue: #0180ad;
$skyblue: #1784a4;
$white: #ffffff;
$gray: #ececec;
$lightgray: #f2f2f2;
$medgray: #bfbfbf;
$black: #000000;
$cream: #eae2ce;
$darkgray: #656565;
$screen-xs-min: 480px;
$screen-xs-max: 767px;

$screen-sm-min: 768px;
$screen-sm-max: 991px;

$screen-md-min: 992px;
$screen-md-max: 1199px;

$screen-lg-min: 1200px;

$per: "%";
$left: left;
$right: right;

$font-helvatica: "helvatica-regular";
$font-gess-light: "Roboto-Regular";
$font-gess-bold: "Roboto-Bold";
$font-gess-medium: "Roboto-Medium";

$font-lato: "LATO-REGULAR_1";
$font-roboto: "Roboto-Regular";

$redhover: #c71010;
$black: #515151;
$black2: #575657;
